label {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    display: block;
}

.tarea-item:hover .eliminar-btn {
    display: inline-block !important;
}

.list-group-item {
    position: relative;
}