label {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    display: block;
}

.tarea-item:hover > button {
    visibility: visible;
}

.tarea-item > button {
    visibility: hidden;
}